


.navbar {
    background-color: #1985a1;
    
}

body {
    font-family: 'Roboto', sans-serif;
color:rgb(77, 75, 75);


}


h1  {
    color:  #1985a1;
}
h3  {
    color:  #1985a1;
}


footer {
    background-color: #93bec9;
    color:black;
    text-align: center;
    height: 130px;
}

.titulo_pfolio {
    text-align: center;

        
    
    

}
